/* custom dropdown */
::ng-deep .p-dropdown .p-placeholder {
  padding-top: .45rem;
}

::ng-deep .p-dropdown .p-element {
  padding-top: .45rem;
}
/* end custom dropdown */


::ng-deep .p-button-raised:disabled{
  background-color: grey;
}

/* for filtering input of dropdown */
::ng-deep .p-dropdown-panel .p-dropdown-header {
  padding: .5rem;
}

::ng-deep .p-dropdown-panel .p-dropdown-header .p-dropdown-filter-container .p-inputtext {
  height: 35px;
}
/* end of for filtering input of dropdown */