<div class="flex p-0 h-full">
  <!-- Left -->
  <div
    [ngClass]="{
      'w-12 h-full': chosenSign === undefined && !isCreatingNewSign,
      'w-8 h-full': chosenSign || isCreatingNewSign
    }"
  >
    <div class="p-2 pb-3" style="height: 5%">
      <fa-icon class="fa-lg mr-2" [icon]="['far', 'circle-question']"></fa-icon>
      <span class="text-xl">Quản lý biển báo</span>
    </div>
    <div class="p-2" style="height: 10%">
      <div class="w-12 flex align-items-center">
        <div class="w-9 flex align-items-center">
          <span class="p-input-icon-right mr-3">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Tìm kiếm..."
              [style]="{ height: '40px' }"
              [(ngModel)]="filterSearchStr"
              (keyup)="filterData()"
            />
          </span>
          <p-dropdown
            class="mr-3"
            [(ngModel)]="filterchosenSignCategoryId"
            [options]="signCategories"
            optionLabel="name"
            optionValue="id"
            placeholder="Loại biển báo"
            [showClear]="true"
            [style]="{ height: '40px', width: '15rem' }"
            (onChange)="filterData()"
          ></p-dropdown>
        </div>
        <div class="w-3 flex justify-content-end">
          <button
            pButton
            type="button"
            label="Tạo mới"
            [disabled]="!isValidClickOnCreate"
            class="p-button-raised p-button-success"
            [style]="{ height: '40px' }"
            (click)="openCreateSign(); getApprovalRate()"
          ></button>
        </div>
      </div>
    </div>

    <div class="p-1 overflow-auto" style="height: 85%">
      <p-table
        [value]="signs"
        [paginator]="signs.length > 10 ? true : false"
        [rows]="10"
        [showCurrentPageReport]="signs.length > 10 ? true : false"
        responsiveLayout="scroll"
        currentPageReportTemplate="{first} đến {last} trong tổng số {totalRecords} mục"
        styleClass="p-datatable-gridlines p-datatable-sm"
      >
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{ width: '7%', 'text-align': 'center' }">#</th>
            <th [ngStyle]="{ width: '26%', 'text-align': 'center' }">Tên</th>
            <th [ngStyle]="{ width: '40%', 'text-align': 'center' }">Mô tả</th>
            <th [ngStyle]="{ width: '20%', 'text-align': 'center' }">
              Loại biển báo
            </th>
            <th [ngStyle]="{ width: '7%', 'text-align': 'center' }"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sign let-i="rowIndex">
          <tr>
            <td [ngStyle]="{ 'text-align': 'center' }">
              {{ i + 1 }}
            </td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              <div
                [className]="
                  chosenSign === undefined && !isCreatingNewSign
                    ? 'w-18rem white-space-nowrap overflow-hidden text-overflow-ellipsis'
                    : 'w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis'
                "
              >
                <span>{{ sign.name }}</span>
              </div>
            </td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              <div
                [className]="
                  chosenSign === undefined && !isCreatingNewSign
                    ? 'w-30rem white-space-nowrap overflow-hidden text-overflow-ellipsis'
                    : 'w-20rem white-space-nowrap overflow-hidden text-overflow-ellipsis'
                "
              >
                <span>{{ sign.description }}</span>
              </div>
            </td>

            <td [ngStyle]="{ 'text-align': 'center' }">
              <div
                [className]="
                  chosenSign === undefined && !isCreatingNewSign
                    ? 'w-15rem white-space-nowrap overflow-hidden text-overflow-ellipsis'
                    : 'w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis'
                "
              >
                <span>{{ sign.signCategory?.name }}</span>
              </div>
            </td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              <button
                pButton
                type="button"
                icon="pi pi-info"
                class="p-button-rounded p-button-outlined btn-info"
                style="width: 25px !important; height: 25px !important"
                (click)="
                  chosenSign = sign;
                  clearNewSignData();
                  isValidClickOnCreate = false
                "
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              <span class="font-bold">Không tìm thấy kết quả</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Right with chosen sign -->
  <div
    *ngIf="!isCreatingNewSign"
    class="p-2"
    [ngClass]="{
      'hidden h-full border-left-3 border-200 overflow-auto':
        chosenSign === undefined,
      'w-4 h-full border-left-3 border-200  overflow-auto': chosenSign
    }"
  >
    <!-- Default -->
    <div *ngIf="!isUpdatingChosenSign" class="h-full">
      <!-- Header -->
      <div class="w-12 flex align-items-center text-xl" style="height: 7.5%">
        <div class="w-6 flex align-items-center">
          <i class="pi pi-info-circle text-xl"></i>
          <span class="ml-2">Chi tiết</span>
        </div>
        <div class="w-6 flex justify-content-end">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="chosenSign = undefined; isValidClickOnCreate = true"
          ></button>
        </div>
      </div>

      <!-- Main -->
      <div class="overflow-auto" style="height: 85%">
        <div class="w-12 flex text-lg mb-2 align-items-center">
          <div class="w-2">Tên:</div>
          <div
            class="w-10 white-space-nowrap overflow-x-auto overflow-y-hidden"
          >
            <span class="font-bold">{{ chosenSign?.name }}</span>
          </div>
        </div>

        <div class="w-12 flex text-lg mb-2 align-items-center">
          <div class="w-2">Loại:</div>
          <div
            class="w-10 white-space-nowrap overflow-x-auto overflow-y-hidden"
          >
            <span>{{ chosenSign?.signCategory?.name }}</span>
          </div>
        </div>

        <div class="w-12 flex text-lg mb-1 align-items-center">
          <div>Mô tả:</div>
        </div>
        <div
          class="w-12 p-2 flex text-lg mb-2 surface-200 border-left-2 border-400 overflow-x-hidden overflow-y-auto max-h-4rem"
        >
          <span>{{ chosenSign?.description }}</span>
        </div>

        <div class="w-12 flex text-lg mb-1 align-items-center">
          <div class="w-6">Hình ảnh:</div>
        </div>
        <div class="w-12 flex text-lg mb-2">
          <div class="text-center w-12 h-auto p-2 border-200 border-2">
            <img
              class="w-10rem h-auto max-h-10rem"
              *ngIf="chosenSign?.imageUrl"
              [src]="chosenSign?.imageUrl | safe: 'resourceUrl'"
              alt="Hình ảnh"
            />
          </div>
        </div>

        <div class="w-12 flex text-lg mb-1 align-items-center">
          <div>Các điểm liên quan (nếu có):</div>
        </div>
        <div
          class="text-lg overflow-auto surface-200 w-12 border-left-2 border-400 max-h-6rem"
        >
          <div class="p-2 h-full">
            <span
              *ngIf="
                !chosenSign?.signParagraphs ||
                chosenSign?.signParagraphs.length === 0
              "
              class="text-400"
            >
              &#123;không&#125;
            </span>
            <span
              *ngFor="
                let signParagraph of chosenSign?.signParagraphs;
                let last = last
              "
            >
              <span
                [pTooltip]="signParagraph.signParagraphParagraphDesc"
                [escape]="false"
                tooltipPosition="top"
                class="cursor-pointer"
              >
                <span>{{ signParagraph.signParagraphStatueName }}*</span>
                <span>{{ signParagraph.signParagraphSectionName }}*</span>
                <span>{{ signParagraph.signParagraphParagraphName }}</span>
                <span *ngIf="!last">; <br /></span>
              </span>
            </span>
          </div>
        </div>
      </div>
      <!-- Buttons -->
      <div style="height: 7.5%">
        <div class="w-12 flex">
          <div class="w-6 text-center">
            <button
              pButton
              pRipple
              type="button"
              label="Chỉnh sửa"
              class="p-button-raised p-button-warning"
              [style]="{ height: '40px' }"
              (click)="openUpdateChosenSign()"
            ></button>
          </div>
          <div class="w-6 text-center">
            <button
              pButton
              pRipple
              type="button"
              label="Xóa"
              class="p-button-raised p-button-danger"
              [style]="{ height: '40px' }"
              (click)="displayConfirmDeleteChosenSign = true; getApprovalRate()"
            ></button>
          </div>
        </div>
      </div>
    </div>

    <!-- When updating chosen sign -->
    <div *ngIf="isUpdatingChosenSign" class="h-full">
      <!-- Header -->
      <div class="w-12 flex align-items-center text-xl" style="height: 7.5%">
        <div class="w-6 flex align-items-center">
          <i class="pi pi-file-edit text-xl"></i>
          <span class="ml-2">Chỉnh sửa</span>
        </div>
      </div>

      <!-- Main -->
      <div style="height: 85%" class="overflow-auto">
        <div class="w-12 flex text-lg align-items-center">
          <div class="w-2">Tên:</div>
          <div class="w-10">
            <input
              ngDefaultControl
              type="text"
              pInputText
              placeholder="Tên biển..."
              [(ngModel)]="tmpChosenSignNewName"
              [style]="{ height: '35px', width: '100%' }"
              (keyup)="getTmpChosenSignNewName()"
            />
          </div>
        </div>
        <div class="w-12 mb-2 flex justify-content-end">
          <div class="w-12">
            <small class="p-block p-error" *ngIf="!isValidChosenSignNewName"
              >Vui lòng nhập tên biển (tối đa 150 ký tự) ví dụ: Biển số 201a
              "Tên biển"</small
            >
          </div>
        </div>

        <div class="w-12 flex text-lg mb-2 align-items-center">
          <div class="w-2">Loại:</div>
          <div class="w-10 flex justify-content-end">
            <p-dropdown
              ngDefaultControl
              [(ngModel)]="tmpChosenSignNewSignCategoryId"
              [options]="signCategories"
              optionLabel="name"
              optionValue="id"
              placeholder="Loại biển báo"
              [style]="{ height: '35px', width: '15rem' }"
              (onChange)="getTmpChosenSignNewSignCategoryId()"
            ></p-dropdown>
          </div>
        </div>

        <div class="w-12 flex text-lg mb-1 align-items-center">
          <div>Mô tả:</div>
        </div>
        <div class="w-12">
          <textarea
            ngDefaultControl
            class="w-full"
            [rows]="2"
            pInputTextarea
            [(ngModel)]="tmpChosenSignNewDescription"
            (keyup)="getTmpChosenSignNewDescription()"
          ></textarea>
        </div>
        <div class="w-12 mb-2">
          <div class="w-12">
            <small
              class="p-block p-error"
              *ngIf="
                !tmpChosenSignNewDescription ||
                tmpChosenSignNewDescription.length > 2000
              "
              >Vui lòng nhập nội dung biển (tối đa 2000 ký tự)</small
            >
          </div>
        </div>

        <div class="w-12 flex text-lg mb-1 align-items-center">
          <div class="w-6">Hình ảnh:</div>
          <div class="w-6 flex justify-content-end">
            <p-fileUpload
              #imageUploaded
              mode="basic"
              [customUpload]="true"
              [auto]="true"
              (uploadHandler)="
                getTmpChosenSignNewImageUrl($event, imageUploaded)
              "
              accept="image/*"
              [maxFileSize]="1000000"
              chooseLabel="Tải lên"
              chooseIcon="pi pi-image"
              [style]="{ height: '35px', border: '3px solid' }"
            >
            </p-fileUpload>
          </div>
        </div>
        <div class="w-12 flex text-lg mb-2">
          <div class="text-center w-12 h-auto p-2 border-200 border-2">
            <img
              ngDefaultControl
              [(ngModel)]="tmpChosenSignNewImageUrl"
              class="w-10rem h-auto max-h-10rem"
              [src]="tmpChosenSignNewImageUrl | safe: 'resourceUrl'"
              alt="Hình ảnh"
            />
          </div>
        </div>

        <div
          class="w-12 text-lg flex align-items-center justify-content-between mb-1"
        >
          <span>Các điểm liên quan (nếu có):</span>

          <button
            pButton
            pRipple
            type="button"
            label="Thêm"
            class="p-button-primary"
            [style]="{ height: '30px' }"
            (click)="loadAddingChosenSignStatueList()"
          ></button>
        </div>
        <div
          class="text-lg border-200 border-2 overflow-auto max-h-4rem"
          style="min-height: 2rem; padding: 0.5rem 0 0.5rem 0"
          *ngIf="tmpChosenSign.signParagraphs !== undefined"
        >
        <!-- *ngFor="
              let signParagraph of tmpChosenSignNewSignParagraphList;
              let i = index
            " -->
          <span
            *ngFor="
              let signParagraph of tmpChosenSign.signParagraphs;
              let i = index
            "
          >
            <p-chip
              class="inline-block w-6"
              [style]="{ 'margin-left': '0.5rem', 'margin-bottom': '0.5rem' }"
              label="{{ signParagraph.signParagraphStatueName }}*{{
                signParagraph.signParagraphSectionName
              }}*{{ signParagraph.signParagraphParagraphName }}"
              [removable]="true"
              class="cursor-pointer"
              [pTooltip]="signParagraph.signParagraphParagraphDesc"
              tooltipPosition="top"
              (onRemove)="removeChosenSignSignParagraph(signParagraph)"
            ></p-chip>
          </span>
        </div>
      </div>

      <!-- Buttons -->
      <div style="height: 7.5%">
        <div class="w-12 flex">
          <div class="w-6 text-center">
            <button
              pButton
              pRipple
              type="button"
              label="Cập nhật"
              [disabled]="!isValidUpdateChosenSign"
              class="p-button-raised p-button-success"
              [style]="{ height: '40px' }"
              (click)="displayConfirmUpdateChosenSign = true; getApprovalRate()"
            ></button>
          </div>
          <div class="w-6 text-center">
            <button
              pButton
              pRipple
              type="button"
              label="Hủy bỏ"
              class="p-button-raised p-button-danger"
              [style]="{ height: '40px' }"
              (click)="cancleUpdateChosenSign()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right for creating new sign -->
  <div
    *ngIf="isCreatingNewSign"
    class="p-2"
    [ngClass]="{
      'hidden h-full border-left-3 border-200 overflow-auto':
        !isCreatingNewSign,
      'w-4 h-full border-left-3 border-200  overflow-auto': isCreatingNewSign
    }"
  >
    <div *ngIf="!isUpdatingChosenSign" class="h-full">
      <!-- Header -->
      <div class="w-12 flex align-items-center text-xl" style="height: 7.5%">
        <div class="w-6 flex align-items-center">
          <i class="pi pi-plus-circle text-xl"></i>
          <span class="ml-2">Tạo mới</span>
        </div>
        <div class="w-6 flex justify-content-end">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="clearNewSignData()"
          ></button>
        </div>
      </div>

      <!-- Main -->
      <div style="height: 85%">
        <div class="w-12 flex text-lg align-items-center">
          <div class="w-2">Tên:</div>
          <div class="w-10">
            <input
              ngDefaultControl
              type="text"
              pInputText
              placeholder='Ví dụ: Biển số 201a "Tên biển"'
              [(ngModel)]="newSignName"
              [style]="{ height: '35px', width: '100%' }"
              (keyup)="getNewSignName()"
            />
          </div>
        </div>
        <div class="w-12 mb-2 flex justify-content-end">
          <div class="w-10">
            <small class="p-block p-error" *ngIf="!isValidNewSignName"
              >Vui lòng nhập tên biển theo ví dụ mô tả (tối đa 150 ký tự)</small
            >
          </div>
        </div>

        <div class="w-12 flex text-lg mb-2 align-items-center">
          <div class="w-2">Loại:</div>
          <div class="w-10 flex justify-content-end">
            <p-dropdown
              ngDefaultControl
              [(ngModel)]="newSignSignCategoryId"
              [options]="signCategories"
              optionLabel="name"
              optionValue="id"
              placeholder="Loại biển báo"
              [style]="{ height: '35px', width: '15rem' }"
            ></p-dropdown>
          </div>
        </div>

        <div class="w-12 flex text-lg mb-1 align-items-center">
          <div>Mô tả:</div>
        </div>
        <div class="w-12">
          <textarea
            ngDefaultControl
            class="w-full"
            [rows]="2"
            pInputTextarea
            [(ngModel)]="newSignDescription"
            (keyup)="getNewSignDescription()"
          ></textarea>
        </div>
        <div class="w-12 mb-2">
          <div class="w-12">
            <small class="p-block p-error" *ngIf="!isValidNewSignDescription"
              >Vui lòng nhập nội dung biển (tối đa 2000 ký tự)</small
            >
          </div>
        </div>

        <div class="w-12 flex text-lg mb-1 align-items-center">
          <div class="w-6">Hình ảnh:</div>
          <div class="w-6 flex justify-content-end">
            <p-fileUpload
              #imageUploaded
              mode="basic"
              [customUpload]="true"
              [auto]="true"
              (uploadHandler)="getNewSignImageUrl($event, imageUploaded)"
              accept="image/*"
              [maxFileSize]="1000000"
              chooseLabel="Tải lên"
              chooseIcon="pi pi-image"
              [style]="{ height: '35px', border: '3px solid' }"
            >
            </p-fileUpload>
          </div>
        </div>
        <div class="w-12 flex text-lg mb-2">
          <div class="text-center w-12 h-auto p-2 border-200 border-2">
            <img
              *ngIf="newSignImageUrl"
              ngDefaultControl
              [(ngModel)]="newSignImageUrl"
              class="w-10rem h-auto max-h-10rem"
              [src]="newSignImageUrl | safe: 'resourceUrl'"
              alt="Hình ảnh"
            />
          </div>
        </div>

        <div
          class="w-12 text-lg flex align-items-center justify-content-between mb-1"
        >
          <span>Các điểm liên quan (nếu có):</span>

          <button
            pButton
            pRipple
            type="button"
            label="Thêm"
            class="p-button-primary"
            [style]="{ height: '30px' }"
            (click)="loadAddingNewSignStatueList()"
          ></button>
        </div>
        <div
          class="text-lg border-200 border-2 overflow-auto max-h-4rem"
          style="min-height: 2rem; padding: 0.5rem 0 0.5rem 0"
        >
          <span
            *ngFor="
              let signParagraph of newSignSignParagraphList;
              let i = index
            "
          >
            <p-chip
              class="inline-block w-6"
              [style]="{ 'margin-left': '0.5rem', 'margin-bottom': '0.5rem' }"
              label="{{ signParagraph.signParagraphStatueName }}*{{
                signParagraph.signParagraphSectionName
              }}*{{ signParagraph.signParagraphParagraphName }}"
              [removable]="true"
              class="cursor-pointer"
              [pTooltip]="signParagraph.signParagraphParagraphDesc"
              tooltipPosition="top"
              (onRemove)="removeNewSignTmpSignParagraph(i)"
            ></p-chip>
          </span>
        </div>
      </div>

      <!-- Buttons -->
      <div style="height: 7.5%">
        <div class="w-12 flex">
          <div class="w-6 text-center">
            <button
              pButton
              pRipple
              type="button"
              [disabled]="!isValidCreateNewSign"
              label="Tạo mới"
              class="p-button-raised p-button-success"
              [style]="{ height: '40px' }"
              (click)="displayConfirmCreateNewSign = true"
            ></button>
          </div>
          <div class="w-6 text-center">
            <button
              pButton
              pRipple
              type="button"
              label="Hủy bỏ"
              class="p-button-raised p-button-danger"
              [style]="{ height: '40px' }"
              (click)="clearNewSignData()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Confirm update dialog -->
<p-dialog
  #updateDialog
  [(visible)]="displayConfirmUpdateChosenSign"
  [style]="{ width: '35vw'}"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span class="text-purple-500 font-bold text-xl">Cập nhật</span>
  </ng-template>
  <div class="w-12 flex mb-2 align-items-center">
    <div class="w-3">
      <span class="text-lg font-bold">Gửi yêu cầu tới </span> <br />
    </div>
    <div class="w-9 flex justify-content-end">
      <p-dropdown
        [(ngModel)]="selectedAdmin"
        [options]="admins"
        optionLabel="username"
        [style]="{ height: '40px' }"
        scrollHeight="8rem"
        [filter]="true"
        filterBy="username"
        class="dropdown-admins"
      >
        <ng-template let-admin pTemplate="item" class="dropdown-admins-tooltip">
          <div
            [pTooltip]="admin.pendingRequests"
            tooltipPosition="left"
            class="w-full h-3rem flex justify-content-center align-items-center whitespace-no-wrap text-overflow-ellipsis"
          >
            <span>{{ admin.username }}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="w-12 mb-2">
    <span class="text-lg font-bold">
      {{ chosenSign?.name }}
    </span>
    <span class="text-lg">sẽ bị yêu cầu sửa đổi. Bạn có chắc chắn?</span>
  </div>
  <div
        class="w-full text-left p-2 border-blue-200 border-2 border-round-md"
      >
        <span class="font-bold text-lg">Lưu ý: </span><br />
        + Tỷ lệ phê duyệt hiện tại:
        <span class="font-bold"
          >{{
            (1 - deniedRomCount / totalRomCount) * 100 | number: "2.0-2"
          }}%</span
        ><br />
        + Tỷ lệ phê duyệt (nếu yêu cầu được chấp nhận):
        <span class="font-bold"
          >{{
            (1 - deniedRomCount / (totalRomCount + 1)) * 100 | number: "2.0-2"
          }}%</span
        ><br />
        + Tỷ lệ phê duyệt (nếu yêu cầu bị từ chối):
        <span class="font-bold"
          >{{
            (1 - (deniedRomCount + 1) / (totalRomCount + 1)) * 100
              | number: "2.0-2"
          }}%</span
        ><br />
        <div class="text-center">
          <span class="font-bold font-italic text-red-300 text-sm"
            >Nếu tỷ lệ phê duyệt < 65%, tài khoản sẽ bị ngưng hoạt động bởi hệ
            thống</span
          >
        </div>
      </div>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Hủy"
      class="p-button-danger"
      style="height: 40px"
      (click)="displayConfirmUpdateChosenSign = false"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Đồng ý"
      class="p-button-success"
      style="height: 40px"
      (click)="updateChosenSign()"
    ></button>
  </ng-template>
</p-dialog>

<!-- Confirm delete dialog -->
<p-dialog
  #updateDialog
  [(visible)]="displayConfirmDeleteChosenSign"
  [style]="{ width: '35vw'}"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span class="text-red-500 font-bold text-xl">Xóa</span>
  </ng-template>
  <div class="w-12 flex mb-2 align-items-center">
    <div class="w-3">
      <span class="text-lg font-bold">Gửi yêu cầu tới </span> <br />
    </div>
    <div class="w-9 flex justify-content-end">
      <p-dropdown
        [(ngModel)]="selectedAdmin"
        [options]="admins"
        optionLabel="username"
        [style]="{ height: '40px' }"
        scrollHeight="8rem"
        [filter]="true"
        filterBy="username"
        class="dropdown-admins"
      >
        <ng-template let-admin pTemplate="item" class="dropdown-admins-tooltip">
          <div
            [pTooltip]="admin.pendingRequests"
            tooltipPosition="left"
            class="w-full h-3rem flex justify-content-center align-items-center whitespace-no-wrap text-overflow-ellipsis"
          >
            <span>{{ admin.username }}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="w-12 mb-2">
    <span class="text-lg font-bold">
      {{ chosenSign?.name }}
    </span>
    <span class="text-lg">sẽ bị yêu cầu xóa. Bạn có chắc chắn?</span>
  </div>
  <div
        class="w-full text-left p-2 border-blue-200 border-2 border-round-md"
      >
        <span class="font-bold text-lg">Lưu ý: </span><br />
        + Tỷ lệ phê duyệt hiện tại:
        <span class="font-bold"
          >{{
            (1 - deniedRomCount / totalRomCount) * 100 | number: "2.0-2"
          }}%</span
        ><br />
        + Tỷ lệ phê duyệt (nếu yêu cầu được chấp nhận):
        <span class="font-bold"
          >{{
            (1 - deniedRomCount / (totalRomCount + 1)) * 100 | number: "2.0-2"
          }}%</span
        ><br />
        + Tỷ lệ phê duyệt (nếu yêu cầu bị từ chối):
        <span class="font-bold"
          >{{
            (1 - (deniedRomCount + 1) / (totalRomCount + 1)) * 100
              | number: "2.0-2"
          }}%</span
        ><br />
        <div class="text-center">
          <span class="font-bold font-italic text-red-300 text-sm"
            >Nếu tỷ lệ phê duyệt < 65%, tài khoản sẽ bị ngưng hoạt động bởi hệ
            thống</span
          >
        </div>
      </div>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Hủy"
      class="p-button-danger"
      style="height: 40px"
      (click)="displayConfirmDeleteChosenSign = false"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Đồng ý"
      class="p-button-success"
      style="height: 40px"
      (click)="deleteChosenSign()"
    ></button>
  </ng-template>
</p-dialog>

<!-- Confirm create dialog -->
<p-dialog
  #updateDialog
  [(visible)]="displayConfirmCreateNewSign"
  [style]="{ width: '35vw'}"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span class="text-green-500 font-bold text-xl">Tạo mới</span>
  </ng-template>
  <div class="w-12 flex mb-2 align-items-center">
    <div class="w-3">
      <span class="text-lg font-bold">Gửi yêu cầu tới </span> <br />
    </div>
    <div class="w-9 flex justify-content-end">
      <p-dropdown
        [(ngModel)]="selectedAdmin"
        [options]="admins"
        optionLabel="username"
        [style]="{ height: '40px' }"
        scrollHeight="8rem"
        [filter]="true"
        filterBy="username"
        class="dropdown-admins"
      >
        <ng-template let-admin pTemplate="item" class="dropdown-admins-tooltip">
          <div
            [pTooltip]="admin.pendingRequests"
            tooltipPosition="left"
            class="w-full h-3rem flex justify-content-center align-items-center whitespace-no-wrap text-overflow-ellipsis"
          >
            <span>{{ admin.username }}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="w-12 mb-2">
    <span class="text-lg font-bold">
      {{ newSignName }}
    </span>
    <span class="text-lg">sẽ được yêu cầu tạo mới. Bạn có chắc chắn?</span>
  </div>
  <div
        class="w-full text-left p-2 border-blue-200 border-2 border-round-md"
      >
        <span class="font-bold text-lg">Lưu ý: </span><br />
        + Tỷ lệ phê duyệt hiện tại:
        <span class="font-bold"
          >{{
            (1 - deniedRomCount / totalRomCount) * 100 | number: "2.0-2"
          }}%</span
        ><br />
        + Tỷ lệ phê duyệt (nếu yêu cầu được chấp nhận):
        <span class="font-bold"
          >{{
            (1 - deniedRomCount / (totalRomCount + 1)) * 100 | number: "2.0-2"
          }}%</span
        ><br />
        + Tỷ lệ phê duyệt (nếu yêu cầu bị từ chối):
        <span class="font-bold"
          >{{
            (1 - (deniedRomCount + 1) / (totalRomCount + 1)) * 100
              | number: "2.0-2"
          }}%</span
        ><br />
        <div class="text-center">
          <span class="font-bold font-italic text-red-300 text-sm"
            >Nếu tỷ lệ phê duyệt < 65%, tài khoản sẽ bị ngưng hoạt động bởi hệ
            thống</span
          >
        </div>
      </div>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Hủy"
      class="p-button-danger"
      style="height: 40px"
      (click)="displayConfirmCreateNewSign = false"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Đồng ý"
      class="p-button-success"
      style="height: 40px"
      (click)="createNewSign()"
    ></button>
  </ng-template>
</p-dialog>

<!-- Add signParagraph for chosen updating sign -->
<p-dialog
  [(visible)]="displayAddChosenSignParagraph"
  [style]="{ width: '500px', height: 'auto' }"
  (onHide)="clearAddChosenSignSignParagraph()"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span class="text-primary-500 font-bold text-xl">Thêm điểm liên quan</span>
  </ng-template>

  <div
    class="h-auto"
    [ngStyle]="{
      'padding-bottom':
        tmpChosenSignAddingSignParagraphList.length > 0 ? '4rem' : '7rem'
    }"
  >
    <div class="flex justify-content-center align-items-center mb-2">
      <div class="w-6">
        <span class="text-lg font-bold">Mời chọn điều </span> <br />
      </div>
      <div class="w-6 flex justify-content-end">
        <p-dropdown
          [options]="addingChosenSignStatueList"
          optionLabel="name"
          [style]="{ height: '35px', width: '9rem' }"
          placeholder="Điều..."
          scrollHeight="6rem"
          [filter]="true"
          filterBy="name"
          (onChange)="selectAddingChosenSignStatue($event)"
        ></p-dropdown>
      </div>
    </div>

    <div
      *ngIf="addingChosenSignStatue?.description"
      class="surface-200 w-12 border-left-2 border-400 p-2 mb-3 max-h-4rem overflow-auto"
    >
      {{ addingChosenSignStatue?.description }}
    </div>

    <div class="flex justify-content-center align-items-center mb-2">
      <div class="w-6">
        <span class="text-lg font-bold">Mời chọn khoản </span> <br />
      </div>
      <div class="w-6 flex justify-content-end">
        <p-dropdown
          [options]="addingChosenSignSectionList"
          optionLabel="name"
          [style]="{ height: '35px', width: '9rem' }"
          placeholder="Khoản..."
          scrollHeight="6rem"
          [filter]="true"
          filterBy="name"
          (onChange)="selectAddingChosenSignSection($event)"
        ></p-dropdown>
      </div>
    </div>

    <div
      *ngIf="addingChosenSignSection?.description"
      class="surface-200 w-12 border-left-2 border-400 p-2 mb-3 max-h-4rem overflow-auto"
    >
      {{ addingChosenSignSection?.description }}
    </div>

    <div
      class="flex justify-content-center align-items-center mb-2"
      *ngIf="!emptyParagraphSectionMsg"
    >
      <div class="w-6">
        <span class="text-lg font-bold">Mời chọn điểm </span> <br />
      </div>
      <div class="w-6 flex justify-content-end">
        <p-dropdown
          [options]="addingChosenSignParagraphList"
          optionLabel="name"
          [style]="{ height: '35px', width: '9rem' }"
          placeholder="Điểm..."
          scrollHeight="6rem"
          [filter]="true"
          filterBy="name"
          (onChange)="selectAddingChosenSignParagraph($event)"
        ></p-dropdown>
      </div>
    </div>

    <div
      *ngIf="addingChosenSignParagraph?.description"
      class="surface-200 w-12 border-left-2 border-400 p-2 max-h-4rem overflow-auto mb-2"
    >
      {{ addingChosenSignParagraph?.description }}
    </div>

    <div *ngIf="emptyParagraphSectionMsg" class="font-bold mb-2">
      {{ emptyParagraphSectionMsg }}
    </div>

    <hr *ngIf="tmpChosenSignAddingSignParagraphList.length > 0" />
    <div
      *ngIf="tmpChosenSignAddingSignParagraphList"
      class="max-h-6rem overflow-auto"
    >
      <div
        *ngFor="
          let signParagraph of tmpChosenSignAddingSignParagraphList;
          let i = index
        "
      >
        <div class="flex justify-content-center align-items-center">
          {{ signParagraph.signParagraphStatueName }} -
          {{ signParagraph.signParagraphSectionName }} -
          {{ signParagraph.signParagraphParagraphName }}

          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="removeChosenSignTmpSignParagraph(i)"
          ></button>
        </div>
      </div>
    </div>

    <div
      *ngIf="addingErrorChosenSignAddingSignParagraphMsg"
      class="font-bold text-red-500 flex justify-content-center"
    >
      {{ addingErrorChosenSignAddingSignParagraphMsg }}
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end mb-2">
      <button
        pButton
        pRipple
        type="button"
        label="Lưu lại"
        class="p-button-outlined p-button-warning"
        [style]="{
          border: '3px solid #F59E0B',
          height: '35px',
          width: '120px'
        }"
        (click)="addChosenSignSignParagraph()"
        [disabled]="addingChosenSignParagraph === undefined ? true : false"
      ></button>
    </div>
    <button
      type="button"
      pButton
      label="Hủy"
      class="p-button-danger"
      style="height: 35px; width: 120px"
      (click)="clearAddChosenSignSignParagraph()"
    ></button>

    <button
      type="button"
      pButton
      label="Hoàn thành"
      class="p-button-success"
      style="height: 35px; width: 120px"
      [disabled]="
        tmpChosenSignAddingSignParagraphList.length === 0 ? true : false
      "
      (click)="completeAddChosenSignSignParagraph()"
    ></button>
  </ng-template>
</p-dialog>

<!-- Add signParagraph for new sign -->
<p-dialog
  [(visible)]="displayAddNewSignSignParagraph"
  [style]="{ width: '500px', height: 'auto' }"
  (onHide)="clearAddNewSignSignParagraph()"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span class="text-primary-500 font-bold text-xl">Thêm điểm liên quan</span>
  </ng-template>

  <div
    class="h-auto"
    [ngStyle]="{
      'padding-bottom':
      tmpNewSignAddingSignParagraphList.length > 0 ? '4rem' : '7rem'
    }"
  >
    <div class="flex justify-content-center align-items-center mb-2">
      <div class="w-6">
        <span class="text-lg font-bold">Mời chọn điều </span> <br />
      </div>
      <div class="w-6 flex justify-content-end">
        <p-dropdown
          [options]="addingNewSignStatueList"
          optionLabel="name"
          [style]="{ height: '35px', width: '9rem' }"
          placeholder="Điều..."
          scrollHeight="6rem"
          [filter]="true"
          filterBy="name"
          (onChange)="selectAddingNewSignStatue($event)"
        ></p-dropdown>
      </div>
    </div>

    <div
      *ngIf="addingNewSignStatue?.description"
      class="surface-200 w-12 border-left-2 border-400 p-2 mb-3 max-h-4rem overflow-auto"
    >
      {{ addingNewSignStatue?.description }}
    </div>

    <div class="flex justify-content-center align-items-center mb-2">
      <div class="w-6">
        <span class="text-lg font-bold">Mời chọn khoản </span> <br />
      </div>
      <div class="w-6 flex justify-content-end">
        <p-dropdown
          [options]="addingNewSignSectionList"
          optionLabel="name"
          [style]="{ height: '35px', width: '9rem' }"
          placeholder="Khoản..."
          scrollHeight="6rem"
          [filter]="true"
          filterBy="name"
          (onChange)="selectAddingNewSignSection($event)"
        ></p-dropdown>
      </div>
    </div>

    <div
      *ngIf="addingNewSignSection?.description"
      class="surface-200 w-12 border-left-2 border-400 p-2 mb-3 max-h-4rem overflow-auto"
    >
      {{ addingNewSignSection?.description }}
    </div>

    <div
      class="flex justify-content-center align-items-center mb-2"
      *ngIf="!emptyParagraphSectionMsg"
    >
      <div class="w-6">
        <span class="text-lg font-bold">Mời chọn điểm </span> <br />
      </div>
      <div class="w-6 flex justify-content-end">
        <p-dropdown
          [options]="addingNewSignParagraphList"
          optionLabel="name"
          [style]="{ height: '35px', width: '9rem' }"
          placeholder="Điểm..."
          scrollHeight="6rem"
          [filter]="true"
          filterBy="name"
          (onChange)="selectAddingNewSignParagraph($event)"
        ></p-dropdown>
      </div>
    </div>

    <div
      *ngIf="addingNewSignParagraph?.description"
      class="surface-200 w-12 border-left-2 border-400 p-2 max-h-4rem overflow-auto mb-2"
    >
      {{ addingNewSignParagraph?.description }}
    </div>

    <div *ngIf="emptyParagraphSectionOfNewSignMsg" class="font-bold mb-2">
      {{ emptyParagraphSectionOfNewSignMsg }}
    </div>

    <hr *ngIf="tmpNewSignAddingSignParagraphList.length > 0" />
    <div
      *ngIf="tmpNewSignAddingSignParagraphList"
      class="max-h-6rem overflow-auto"
    >
      <div
        *ngFor="
          let signParagraph of tmpNewSignAddingSignParagraphList;
          let i = index
        "
      >
        <div class="flex justify-content-center align-items-center">
          {{ signParagraph.signParagraphStatueName }} -
          {{ signParagraph.signParagraphSectionName }} -
          {{ signParagraph.signParagraphParagraphName }}

          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="removeNewSignTmpSignParagraph(i)"
          ></button>
        </div>
      </div>
    </div>

    <div
      *ngIf="addingErrorNewSignAddingSignParagraphMsg"
      class="font-bold text-red-500 flex justify-content-center"
    >
      {{ addingErrorNewSignAddingSignParagraphMsg }}
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-content-end mb-2">
      <button
        pButton
        pRipple
        type="button"
        label="Lưu lại"
        class="p-button-outlined p-button-warning"
        [style]="{
          border: '3px solid #F59E0B',
          height: '35px',
          width: '120px'
        }"
        (click)="addNewSignSignParagraph()"
        [disabled]="addingNewSignParagraph === undefined ? true : false"
      ></button>
    </div>
    <button
      type="button"
      pButton
      label="Hủy"
      class="p-button-danger"
      style="height: 35px; width: 120px"
      (click)="clearAddNewSignSignParagraph()"
    ></button>

    <button
      type="button"
      pButton
      label="Hoàn thành"
      class="p-button-success"
      style="height: 35px; width: 120px"
      [disabled]="
      tmpNewSignAddingSignParagraphList.length === 0 ? true : false
      "
      (click)="completeAddNewSignSignParagraph()"
    ></button>
  </ng-template>
</p-dialog>

<p-toast life="1000"></p-toast>
