<div class="layout-sidebar">
  <ul *ngFor="let item of items; let i = index">
    <li (click)="toggleSubItems(i)" class="cursor-pointer">
      <a
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        class="sidebar-menu-items"
      >
        <fa-icon
          class="mr-3"
          *ngIf="item.label == 'Bảng điều khiển'"
          [icon]="['fas', 'house']"
        ></fa-icon>
        <fa-icon
          class="mr-3"
          *ngIf="item.label == 'Quản lý luật'"
          [icon]="['fas', 'scale-balanced']"
        ></fa-icon>
        <fa-icon
          class="mr-3"
          *ngIf="item.label == 'Quản lý biển báo'"
          [icon]="['fas', 'sign-hanging']"
        ></fa-icon>
        <fa-icon
          class="mr-3"
          *ngIf="item.label == 'Quản lý câu hỏi'"
          [icon]="['fas', 'circle-question']"
        ></fa-icon>
        <fa-icon
          class="mr-3"
          *ngIf="item.label == 'Quản lý yêu cầu'"
          [icon]="['fas', 'code-pull-request']"
        ></fa-icon>
        <fa-icon
          class="mr-3"
          *ngIf="item.label == 'Quản lý nhân viên'"
          [icon]="['fas', 'clipboard-user']"
        ></fa-icon>
        <fa-icon
          class="mr-3"
          *ngIf="item.label == 'Quản lý thành viên'"
          [icon]="['fas', 'user']"
        ></fa-icon>
        <fa-icon
          class="mr-3"
          *ngIf="item.label == 'Phân chia công việc'"
          [icon]="['fas', 'clipboard']"
        ></fa-icon>
        <fa-icon
          class="mr-3"
          *ngIf="item.label == 'Yêu cầu của tôi'"
          [icon]="['fas', 'code-pull-request']"
        ></fa-icon>
        <fa-icon
          class="mr-3"
          *ngIf="item.label == 'Yêu cầu về GPS'"
          [icon]="['fas', 'location-dot']"
        ></fa-icon>
        <span>{{ item.label }}</span>
        <span
          *ngIf="item.label === 'Quản lý luật' && isShowingSubItems"
          class="ml-5"
          ><fa-icon [icon]="['fas', 'caret-up']"></fa-icon
        ></span>
        <span
          *ngIf="item.label === 'Quản lý luật' && !isShowingSubItems"
          class="ml-5"
          ><fa-icon [icon]="['fas', 'caret-down']"></fa-icon
        ></span>
      </a>
    </li>
    <div
        *ngIf="item.label === 'Quản lý luật' && subItems.length > 0 "
        [ngClass]="{ hidden: !isShowingSubItems, block: isShowingSubItems }"
      >
        <ul *ngFor="let subItem of subItems">
          <li (click)="isShowingSubItems = true">
            <a
              [routerLink]="[subItem.routerLink, subItem.columnId]"
              routerLinkActive="active"
              class="sidebar-submenu-items"
            >
              <fa-icon class="mr-3" [icon]="['far', 'newspaper']"></fa-icon>
              <span>{{ subItem.label }}</span>
            </a>
          </li>
        </ul>
      </div>
  </ul>
</div>
