#container {
  height: 100%;
}

.btn-info {
  width: 25px !important;
  height: 25px !important;
}

.hide {
  display: none;
  width: 0;
}

.show {
  display: block;
  width: 33.3333%;
}

:host ::ng-deep .p-password input {
  border: none;
  font-size: .8rem;
  color: black;
  padding: 0;
  margin: 0;
}

#member-info {
  border-left: 3px solid #EFEFEF;
}

#btn-closeInfo {
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
}

#right-top {
  height: 25%;
}

#right-main {
  height: 75%;
  border-radius: 5px;
  background-color: #EFEFEF;
  overflow-y: scroll;
}

.comment {
  width: 95%;
  min-height: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.comment-content {
  height: 70%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-time {
  height: 30%;
  color: #53A0F4;
}
