::ng-deep .p-dropdown .p-placeholder {
  padding-top: .3rem;
}

::ng-deep .p-dropdown .p-element {
  padding-top: .3rem;
}

#section-dropdown-vehicleCat ::ng-deep .p-dropdown .p-placeholder {
  padding-right: 0;
}


::ng-deep .p-chip-text{
  font-size: 85%;
}

::ng-deep .p-tooltip-text{
  width: 15rem;
  height: 5.4rem;
   white-space: nowrap;

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; 
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}


::ng-deep .p-dropdown-panel .p-dropdown-header {
  padding: .5rem;
}

::ng-deep .p-dropdown-panel .p-dropdown-header .p-dropdown-filter-container .p-inputtext {
  height: 35px;
}
