<div class="grid h-full m-0 p-0">
<div id="background"></div>
  <div class="col-6 bg-white text-center h-full left">
    <img src="../../../assets/images/logo.png" id="logo" alt="logo" /><br />
    <div class="welcome-text">
      <p>Từ điển luật giao thông Việt Nam</p>
    </div>
    <!-- <div class="welcome-paragraph">
      <p>Đoạn chào mừng</p>
    </div> -->
  </div>
  <div
    class="col-6 flex align-items-center justify-content-center h-full right"
  >
    <p-card class="w-5 h-auto">
      <div class="text-center">
        <img
          src="../../../assets/images/logo-noname.png"
          id="logo-noname"
          alt="logo"
        />
        <p id="txt-login">Đăng nhập</p>
      </div>

      <div class="mt-8">
        <p class="label">Tên đăng nhập:</p>
        <div class="p-inputgroup">
          <input
            type="text"
            pInputText
            [(ngModel)]="username"
            placeholder="Tên đăng nhập..."
          />
        </div>
        <p class="label mt-4">Mật khẩu:</p>
        <div class="p-inputgroup">
          <input
            type="password"
            pInputText
            [(ngModel)]="password"
            placeholder="Mật khẩu..."
          />
        </div>
        <div class="flex align-items-center mt-2">
          <p-checkbox [(ngModel)]="isRememeber" [binary]="true" label="Ghi nhớ đăng nhập" id="cb-remember-me"></p-checkbox>
        </div>
      </div>

      <div class="w-full mt-5">
        <button
          (click)="login()"
          pButton
          type="button"
          label="ĐĂNG NHẬP"
          class="p-button-success w-full h-3rem"
          id="btn-login"
        ></button>
      </div>
      <div class="text-center mt-3">
        <p-message *ngIf="loginFailedText" severity="warn" [text]="loginFailedText"></p-message>  
      </div>
    </p-card>
  </div>
</div>
