<div class="flex h-full p-0">
  <div class="w-12 h-full">
    <div class="p-2 pb-3" style="height: 6%">
      <fa-icon
        class="fa-lg mr-2"
        [icon]="['fas', 'code-pull-request']"
      ></fa-icon>
      <span class="text-xl">Quản lý yêu cầu</span>
    </div>
    <div class="p-2 w-12 flex align-items-center" style="height: 9%">
      <div class="w-6 flex align-items-center">
        <p-dropdown
          [(ngModel)]="filterRomTypeCode"
          [options]="romTypes"
          placeholder="Yêu cầu về"
          optionLabel="romTypeName"
          optionValue="romTypeCode"
          [showClear]="true"
          [style]="{ height: '40px' }"
          class="mr-2"
          (onChange)="filterData()"
        ></p-dropdown>
      </div>

      <div class="w-6 flex justify-content-end">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Tìm kiếm..."
            [style]="{ height: '40px', width: '16rem' }"
            [(ngModel)]="filterSearchStr"
            (keyup)="filterData()"
          />
        </span>
      </div>
    </div>

    <div class="p-2 w-12 flex align-items-center" style="height: 9%">
      <div class="w-6">
        <p-dropdown
          [(ngModel)]="filterRequesterId"
          [options]="requesters"
          placeholder="Người yêu cầu"
          optionLabel="requesterName"
          optionValue="requesterId"
          [showClear]="true"
          [style]="{ height: '40px' }"
          class="mr-2"
          (onChange)="filterData()"
        ></p-dropdown>

        <p-dropdown
          [(ngModel)]="filterStatusCode"
          [options]="status"
          placeholder="Trạng thái"
          optionLabel="statusName"
          optionValue="statusCode"
          [showClear]="true"
          [style]="{ height: '40px' }"
          (onChange)="filterData()"
        ></p-dropdown>
      </div>
      <div class="w-6 flex justify-content-end">
        <p-calendar
          #calendar
          [(ngModel)]="filterRangeDates"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          selectionMode="range"
          [showButtonBar]="true"
          [style]="{ height: '40px', 'font-size': '.9rem', width: '16rem' }"
          placeholder="Từ ngày - đến ngày"
          (onSelect)="closeDateRangePick()"
          (onClearClick)="filterData()"
        ></p-calendar>
      </div>
    </div>
    <div class="p-1 overflow-auto" style="height: 76%">
      <p-table
        [value]="roms"
        [paginator]="roms !== undefined && roms.length > 8 ? true : false"
        [rows]="8"
        [showCurrentPageReport]="
          roms !== undefined && roms.length > 8 ? true : false
        "
        responsiveLayout="scroll"
        currentPageReportTemplate="{first} đến {last} trong tổng số {totalRecords} mục"
        styleClass="p-datatable-gridlines p-datatable-sm"
      >
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{ width: '5%', 'text-align': 'center' }">#</th>
            <th [ngStyle]="{ width: '15%', 'text-align': 'center' }">
              Yêu cầu về
            </th>
            <th [ngStyle]="{ width: '30%', 'text-align': 'center' }">Mô tả</th>
            <th [ngStyle]="{ width: '15%', 'text-align': 'center' }">
              Người yêu cầu
            </th>
            <th [ngStyle]="{ width: '10%', 'text-align': 'center' }">Loại</th>
            <th [ngStyle]="{ width: '10%', 'text-align': 'center' }">
              Trạng thái
            </th>
            <th [ngStyle]="{ width: '10%', 'text-align': 'center' }">
              Ngày tạo
            </th>
            <th [ngStyle]="{ width: '5%', 'text-align': 'center' }"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rom let-i="rowIndex">
          <tr>
            <td [ngStyle]="{ 'text-align': 'center' }">{{ i + 1 }}</td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              <div
                class="w-12 white-space-nowrap overflow-hidden text-overflow-ellipsis"
              >
                <span
                  *ngIf="
                    rom.modifyingStatueName ||
                    rom.modifyingSectionName ||
                    rom.modifyingParagraphName
                  "
                  class="text-green-500 font-bold"
                >
                  Luật
                </span>
                <span
                  *ngIf="rom.modifyingSignName || rom.modifyingGpssignName"
                  class="text-orange-500 font-bold"
                >
                  Biển báo
                </span>
                <span
                  *ngIf="rom.modifyingQuestionContent"
                  class="text-blue-500 font-bold"
                >
                  Câu hỏi
                </span>
                <span
                  *ngIf="rom.modfifyingUserName"
                  class="text-red-500 font-bold"
                >
                  Đề xuất
                </span>
              </div>
            </td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              <div
                class="w-22rem white-space-nowrap overflow-hidden text-overflow-ellipsis"
              >
                <span>{{
                  rom.modifyingStatueName ||
                    rom.modifyingSectionName ||
                    rom.modifyingParagraphName ||
                    rom.modifyingSignName ||
                    rom.modifyingGpssignName ||
                    rom.modifyingQuestionContent ||
                    rom.modfifyingUserName
                }}</span>
              </div>
            </td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              <div
                class="w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis"
              >
                <span>{{ rom.username || rom.promotingAdminUsername }}</span>
              </div>
            </td>

            <td [ngStyle]="{ 'text-align': 'center' }">
              <div
                class="w-12 white-space-nowrap overflow-hidden text-overflow-ellipsis"
              >
                <span *ngIf="rom.operationType === 0">Thêm mới</span>
                <span *ngIf="rom.operationType === 1">Chỉnh sửa</span>
                <span *ngIf="rom.operationType === 2">Xóa</span>
              </div>
            </td>

            <td [ngStyle]="{ 'text-align': 'center' }">
              <div
                class="w-12 white-space-nowrap overflow-hidden text-overflow-ellipsis"
              >
                <span *ngFor="let st of status">
                  <span *ngIf="st.statusCode === rom.status">
                    {{ st.statusName }}
                  </span>
                </span>
              </div>
            </td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              <div
                class="w-12 white-space-nowrap overflow-hidden text-overflow-ellipsis"
              >
                <span>
                  {{ rom.createdDate | date: "dd/MM/yyyy" }}
                </span>
              </div>
            </td>

            <td [ngStyle]="{ 'text-align': 'center' }">
              <button
                pButton
                type="button"
                icon="pi pi-info"
                class="p-button-rounded p-button-outlined"
                [style]="{ width: '25px', height: '25px' }"
                (click)="viewInfo(rom)"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">
              <span class="font-bold">Không tìm thấy kết quả</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Right -->
</div>

<!-- Rom detail dialog -->
<p-dialog
  [(visible)]="displayRomDetailDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <ng-template pTemplate="header">
    <span class="text-blue-500 font-bold text-xl">Chi tiết</span>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="w-12" style="height: 35%" *ngIf="selectedRom">
      <div class="w-12 flex p-2">
        <div class="w-6">
          <span class="text-lg font-bold">Yêu cầu về: </span>
        </div>
        <div class="w-6 text-lg flex justify-content-end">
          <span
            *ngIf="
              selectedRom.modifyingStatueName ||
              selectedRom.modifyingSectionName ||
              selectedRom.modifyingParagraphName
            "
            class="text-green-500 font-bold"
          >
            Luật
          </span>
          <span
            *ngIf="
              selectedRom.modifyingSignName || selectedRom.modifyingGpssignName
            "
            class="text-orange-500 font-bold"
          >
            Biển báo
          </span>
          <span
            *ngIf="selectedRom.modifyingQuestionContent"
            class="text-blue-500 font-bold"
          >
            Câu hỏi
          </span>
          <span
            *ngIf="selectedRom.modfifyingUserName"
            class="text-red-500 font-bold"
          >
            Đề xuất
          </span>
        </div>
      </div>

      <div class="w-12 flex p-2">
        <div class="w-6">
          <span class="text-lg font-bold">Loại yêu cầu: </span>
        </div>
        <div class="w-6 text-lg font-italic flex justify-content-end">
          <span *ngIf="selectedRom.operationType === 0">Thêm mới</span>
          <span *ngIf="selectedRom.operationType === 1">Chỉnh sửa</span>
          <span *ngIf="selectedRom.operationType === 2">Xóa</span>
        </div>
      </div>

      <div class="w-12 flex p-2">
        <div class="w-6">
          <span class="text-lg font-bold">Trạng thái: </span>
        </div>
        <div class="w-6 text-lg flex justify-content-end">
          <span *ngFor="let st of status">
            <span *ngIf="st.statusCode === selectedRom.status">
              {{ st.statusName }}
            </span>
          </span>
        </div>
      </div>

      <div class="w-12 flex p-2">
        <div class="w-6">
          <span class="text-lg font-bold">Ngày tạo: </span>
        </div>
        <div class="w-6 text-lg flex justify-content-end">
          <span>
            {{ selectedRom.createdDate | date: "dd/MM/yyyy" }}
          </span>
        </div>
      </div>
    </div>

    <div class="w-12 overflow-y-auto" style="height: 55%">
      <div class="w-12 flex p-2" style="height: 10%">
        <div class="w-6">
          <span class="text-lg font-bold">Các thay đổi: </span>
        </div>
      </div>

      <div
        class="w-12 text-lg"
        style="height: 90%"
        *ngIf="changedModel.code !== ''"
      >
        <div class="w-12 p-2 border-200 border-1 border-round-lg">
          <ngx-monaco-diff-editor
            [options]="options"
            [originalModel]="originalModel"
            [modifiedModel]="changedModel"
          ></ngx-monaco-diff-editor>
        </div>

        
      </div>

      <div class="w-12 flex p-2" style="height: 10%" *ngIf="changedModelImg || originalModelImg">
        <div class="w-6">
          <span class="text-lg font-bold">Hình ảnh đính kèm: </span>
        </div>
      </div>
      <div
          class="w-12 flex p-2 border-200 border-1 border-round-lg overflow-hidden"
          *ngIf="changedModelImg || originalModelImg"
        >
          <div class="w-6 flex justify-content-center align-items-center">
            <img
              *ngIf="originalModelImg"
              class="w-15rem h-auto"
              [src]="originalModelImg | safe: 'resourceUrl'"
              alt="Hình ảnh"
            />
          </div>
          <div class="w-6  flex justify-content-center align-items-center">
            <img
              *ngIf="changedModelImg"
              class="w-15rem h-auto"
              [src]="changedModelImg | safe: 'resourceUrl'"
              alt="Hình ảnh"
            />
          </div>
        </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="w-12 flex align-items-end" style="height: 10%">
      <div class="w-6">
        <button
          pButton
          pRipple
          label="Từ chối"
          class="p-button-outlined p-button-danger"
          [style]="{ height: '35px', border: '3px solid' }"
        ></button>
      </div>
      <div class="w-6 flex justify-content-end">
        <button
          pButton
          pRipple
          label="Chấp nhận"
          class="p-button-outlined p-button-success"
          [style]="{ height: '35px', border: '3px solid' }"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
