<div class="flex p-0 h-full">
  <!-- Left -->
  <div
    [ngClass]="{
      'w-12 h-full': selectedQuestion === undefined,
      'w-8 h-full': selectedQuestion
    }"
  >
    <div class="p-2 pb-3" style="height: 6%">
      <fa-icon class="fa-lg mr-2" [icon]="['far', 'circle-question']"></fa-icon>
      <span class="text-xl">Quản lý câu hỏi</span>
    </div>
    <div class="p-2" style="height: 10%">
      <div class="w-12 flex align-items-center">
        <div class="w-9 flex align-items-center">
          <span class="p-input-icon-right mr-3">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Tìm kiếm..."
              [style]="{ height: '40px' }"
              [(ngModel)]="searchStr"
              (keyup)="filterData()"
            />
          </span>

          <p-dropdown
            class="mr-3"
            [(ngModel)]="filterTestCategoryId"
            [options]="testCategories"
            placeholder="Loại bằng"
            optionLabel="name"
            optionValue="id"
            [showClear]="true"
            [style]="{ height: '40px' }"
            (onChange)="filterData()"
          ></p-dropdown>
          <p-dropdown
            [(ngModel)]="filterQuestionCategoryId"
            [options]="questionCategories"
            placeholder="Loại câu hỏi"
            optionLabel="name"
            optionValue="id"
            [showClear]="true"
            [style]="{ height: '40px' }"
            (onChange)="filterData()"
          ></p-dropdown>
        </div>
        <div class="w-3 flex justify-content-end">
          <button
            pButton
            pRipple
            type="button"
            label="Tạo mới"
            class="p-button-raised p-button-success"
            [style]="{ height: '40px' }"
            (click)="displayCreateDialog = true; initValueForCreateNew()"
          ></button>
        </div>
      </div>
    </div>

    <div class="p-1 overflow-auto" style="height: 84%">
      <p-table
        [value]="questions"
        [paginator]="questions?.length > 10 ? true : false"
        [rows]="10"
        [showCurrentPageReport]="questions?.length > 10 ? true : false"
        responsiveLayout="scroll"
        currentPageReportTemplate="{first} đến {last} trong tổng số {totalRecords} mục"
        styleClass="p-datatable-gridlines p-datatable-sm"
      >
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{ width: '7%', 'text-align': 'center' }">#</th>
            <th [ngStyle]="{ width: '50%', 'text-align': 'center' }">
              Nội dung
            </th>
            <th [ngStyle]="{ width: '13%', 'text-align': 'center' }">
              Loại bằng
            </th>
            <th [ngStyle]="{ width: '25%', 'text-align': 'center' }">
              Loại câu hỏi
            </th>
            <th [ngStyle]="{ width: '5%', 'text-align': 'center' }"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question let-i="rowIndex">
          <tr>
            <td [ngStyle]="{ 'text-align': 'center' }">
              {{ i + 1 }}
            </td>
            <td>
              <div class="w-12 flex justify-content-center">
                <div
                  [className]="
                    selectedQuestion === undefined
                      ? 'w-30rem text-center white-space-nowrap overflow-hidden text-overflow-ellipsis'
                      : 'w-20rem text-center white-space-nowrap overflow-hidden text-overflow-ellipsis'
                  "
                >
                  <span>{{ question.content }}</span>
                </div>
              </div>
            </td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              <div class="w-12 flex justify-content-center">
                <div
                  [className]="
                    selectedQuestion === undefined
                      ? 'w-15rem white-space-nowrap overflow-hidden text-overflow-ellipsis'
                      : 'w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis'
                  "
                >
                  <span>{{ question.testCategoryName }}</span>
                </div>
              </div>
            </td>

            <td [ngStyle]="{ 'text-align': 'center' }">
              <div class="w-12 flex justify-content-center">
                <div
                  [className]="
                    selectedQuestion === undefined
                      ? 'w-15rem white-space-nowrap overflow-hidden text-overflow-ellipsis'
                      : 'w-10rem white-space-nowrap overflow-hidden text-overflow-ellipsis'
                  "
                >
                  <span>{{ question.questionCategoryName }}</span>
                </div>
              </div>
            </td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              <button
                pButton
                type="button"
                icon="pi pi-info"
                class="p-button-rounded p-button-outlined btn-info"
                (click)="viewInfo(question)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Right -->
  <div
    id="question-info"
    class="p-2"
    [ngClass]="{
      hide: selectedQuestion === undefined,
      show: selectedQuestion
    }"
  >
    <button (click)="closeInfo()" id="btn-closeInfo">
      <i class="pi pi-times text-red-600"></i>
    </button>

    <div id="right">
      <div class="flex align-items-center" id="right-header">
        <i class="pi pi-info-circle text-xl"></i>
        <span class="text-xl ml-2">Chi tiết</span>
      </div>

      <div
        id="right-question-content"
        class="overflow-y-auto overflow-x-hidden"
      >
        <div>
          <span class="font-bold text-lg">Nội dung</span>
        </div>
        <div id="question-content">
          {{ selectedQuestion?.content }}
        </div>
      </div>

      <div id="right-answers" class="overflow-y-auto overflow-x-hidden">
        <div *ngFor="let answer of selectedQuestion?.answers; let i = index">
          <div *ngIf="i === 0" class="mb-2">
            <span [ngClass]="{ 'text-green-500': answer.isCorrect }">
              A. {{ answer.description }}</span
            >
          </div>
          <div *ngIf="i === 1" class="mb-2">
            <span [ngClass]="{ 'text-green-500': answer.isCorrect }">
              B. {{ answer.description }}</span
            >
          </div>
          <div *ngIf="i === 2" class="mb-2">
            <span [ngClass]="{ 'text-green-500': answer.isCorrect }">
              C. {{ answer.description }}</span
            >
          </div>
          <div *ngIf="i === 3" class="mb-2">
            <span [ngClass]="{ 'text-green-500': answer.isCorrect }">
              D. {{ answer.description }}</span
            >
          </div>
        </div>
      </div>

      <div id="right-question-img">
        <div class="mb-1" style="height: 10%">
          <span class="font-bold text-lg">Hình ảnh đính kèm (nếu có)</span>
        </div>
        <div class="text-center" style="height: 90%">
          <img
            *ngIf="selectedQuestion?.imageUrl"
            [src]="selectedQuestion?.imageUrl"
            alt="Hình ảnh đính kèm"
            id="question-img"
          />
        </div>
      </div>

      <div id="right-actions" class="flex">
        <div class="w-6 text-center">
          <button
            pButton
            pRipple
            type="button"
            label="Chỉnh sửa"
            class="p-button-raised p-button-warning"
            [style]="{ height: '40px' }"
            (click)="displayUpdateDialog = true"
          ></button>
        </div>
        <div class="w-6 text-center">
          <button
            pButton
            pRipple
            type="button"
            label="Xóa"
            class="p-button-raised p-button-danger"
            [style]="{ height: '40px' }"
            (click)="displayDeleteDialog = true"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create dialog -->
<p-dialog
  #createDialog
  [(visible)]="displayCreateDialog"
  [style]="{ width: '50vw' }"
  [modal]="true"
  (onHide)="resetDataCreateQuestion()"
>
  <ng-template pTemplate="header">
    <span class="text-green-500 font-bold text-xl">Tạo mới</span>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="p-2">
      <div class="w-12 flex mb-2">
        <div class="w-3">
          <span class="text-lg font-bold">Gửi yêu cầu tới </span> <br />
        </div>
        <div class="w-9 flex justify-content-end">
          <p-dropdown
            [(ngModel)]="selectedAdmin"
            [options]="admins"
            placeholder="Quản trị viên"
            optionLabel="username"
            [style]="{ height: '40px', width: '12rem' }"
            scrollHeight="8rem"
            [filter]="true"
            filterBy="username"
          ></p-dropdown>
        </div>
      </div>

      <div class="w-12 flex mb-2">
        <div class="w-3">
          <span class="text-lg font-bold mr-2">Loại bằng </span>
        </div>
        <div class="w-9 flex justify-content-end">
          <p-dropdown
            [(ngModel)]="selectedTestCategoryId"
            [options]="testCategories"
            optionValue="id"
            placeholder="Loại bằng"
            optionLabel="name"
            [style]="{ height: '40px', width: '12rem' }"
            scrollHeight="8rem"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
        </div>
      </div>

      <div class="w-12 flex mb-2">
        <div class="w-3">
          <span class="text-lg font-bold mr-2">Loại câu hỏi </span>
        </div>
        <div class="w-9 flex justify-content-end">
          <p-dropdown
            [(ngModel)]="selectedQuestionCategoryId"
            [options]="questionCategories"
            optionValue="id"
            placeholder="Loại câu hỏi"
            optionLabel="name"
            [style]="{ height: '40px', width: '12rem' }"
            scrollHeight="8rem"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
        </div>
      </div>

      <div class="mb-2">
        <div>
          <span class="font-bold text-lg">Nội dung</span>
        </div>
        <div>
          <textarea
            [rows]="3"
            pInputTextarea
            style="width: 100%"
            placeholder="Nội dung câu hỏi..."
            (change)="getNewQuestionContent($event)"
          ></textarea>
        </div>
        <div *ngIf="inValidNewQuestionContent">
          <small class="p-block p-error">Vui lòng nhập nội dung câu hỏi</small>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <span class="font-bold text-lg">Đáp án</span>
        </div>
        <div class="p-inputgroup">
          <input
            type="text"
            pInputText
            placeholder="Nội dung đáp án..."
            [(ngModel)]="newQuestionAnswer"
            (keyup)="getNewQuestionAnswer()"
          />
          <button
            type="button"
            pButton
            class="p-button-success"
            icon="pi pi-plus"
            [disabled]="
              newQuestionAnswer === undefined || newQuestionAnswer === ''
            "
            (click)="addNewQuestionAnswer()"
          ></button>
        </div>
        <div class="mb-2">
          <small *ngIf="inValidNewQuestionAnswer" class="p-block p-error"
            >Vui lòng nhập nội dung đáp án để thêm mới</small
          >
        </div>
        <div
          *ngFor="let answer of newQuestionAnswers; let i = index"
          class="w-12 flex justify-content-center align-items-center"
        >
          <div class="w-10 flex align-items-center">
            <!-- <div class="flex align-items-center" style="width: 5%">
                <input
                  name="answerCheck"
                  type="radio"
                  (change)="pickNewAnswersCorrectAnswer(i)"
                />
              </div> -->
            <div style="width: 85%">
              <div
                class="flex align-items-center"
                *ngIf="
                  !isEditingNewQuestionAnswer ||
                  (isEditingNewQuestionAnswer &&
                    i !== editingNewQuestionAnswerIndex)
                "
              >
                <label class="flex align-items-center">
                  <input
                    name="answerCheck"
                    type="radio"
                    (change)="pickNewAnswersCorrectAnswer(i)"
                  />
                  <div
                    class="white-space-nowrap overflow-x-auto overflow-y-hidden max-w-27rem ml-3"
                  >
                    <span class="text-lg">{{ answer.description }}</span>
                  </div>
                </label>
              </div>

              <div
                class="w-full"
                *ngIf="
                  isEditingNewQuestionAnswer &&
                  i === editingNewQuestionAnswerIndex
                "
              >
                <input
                  class="w-full"
                  *ngIf="
                    isEditingNewQuestionAnswer &&
                    i === editingNewQuestionAnswerIndex
                  "
                  type="text"
                  pInputText
                  [(ngModel)]="txtEditNewQuestionAnswer"
                  [value]="answer.description"
                  [style]="{ height: '40px' }"
                />
              </div>
            </div>
            <div style="width: 15%">
              <span *ngIf="answer.isCorrect" class="text-lg text-green-300 ml-1"
                >(câu đúng)
              </span>
            </div>
          </div>
          <div class="w-2 flex">
            <div
              class="w-12 flex"
              *ngIf="
                !isEditingNewQuestionAnswer ||
                (isEditingNewQuestionAnswer &&
                  i !== editingNewQuestionAnswerIndex)
              "
            >
              <div class="w-6">
                <button
                  pButton
                  type="button"
                  icon="pi pi-file-edit"
                  class="p-button-rounded p-button-warning p-button-text mr-2"
                  (click)="enableEditNewQuestionAnswer(answer, i)"
                ></button>
              </div>
              <div class="w-6">
                <button
                  pButton
                  type="button"
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger p-button-text"
                  (click)="deleteNewQuestionAnswer(i)"
                ></button>
              </div>
            </div>

            <div
              class="w-12 flex"
              *ngIf="
                isEditingNewQuestionAnswer &&
                i === editingNewQuestionAnswerIndex
              "
            >
              <div class="w-6">
                <button
                  pButton
                  type="button"
                  icon="pi pi-save"
                  class="p-button-rounded p-button-success p-button-text mr-2"
                  (click)="saveEditNewQuestionAnswer(i)"
                  [disabled]="txtEditNewQuestionAnswer === ''"
                ></button>
              </div>
              <div class="w-6">
                <button
                  pButton
                  type="button"
                  icon="pi pi-times"
                  class="p-button-rounded p-button-danger p-button-text"
                  (click)="disableEditNewQuestionAnswer()"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-2">
        <div class="mb-1">
          <span class="font-bold text-lg">Hình ảnh đính kèm (nếu có)</span>
        </div>
        <div class="mb-1">
          <p-fileUpload
            #newQuestionImageUploaded
            mode="basic"
            [customUpload]="true"
            [auto]="true"
            (uploadHandler)="
              addNewQuestionImage($event, newQuestionImageUploaded)
            "
            accept="image/*"
            [maxFileSize]="1000000"
            chooseLabel="Chọn hình"
            chooseIcon="pi pi-image"
            [style]="{ height: '40px' }"
          >
          </p-fileUpload>
        </div>

        <div class="text-center">
          <img
            *ngIf="newQuestionImgUrl !== ''"
            [src]="newQuestionImgUrl | safe: 'resourceUrl'"
            alt="Hình ảnh đính kèm"
            [style]="{ width: '20rem', height: 'auto' }"
          />
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Hủy"
      class="p-button-danger"
      style="height: 40px"
      (click)="resetDataCreateQuestion()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Đồng ý"
      [disabled]="!isValidNewQuestion"
      class="p-button-success"
      style="height: 40px"
      (click)="createQuestion()"
    ></button>
  </ng-template>
</p-dialog>
<!-- End of create dialog -->

<!-- Update dialog -->
<p-dialog
  #updateDialog
  [(visible)]="displayUpdateDialog"
  [style]="{ width: '40vw' }"
  [modal]="true"
  (onHide)="resetDataUpdateQuestion()"
>
  <ng-template pTemplate="header">
    <span class="text-purple-500 font-bold text-xl"> Chỉnh sửa</span>
  </ng-template>

  <div class="mb-2">
    <div class="flex justify-content-center align-items-center">
      <div class="w-3">
        <span class="text-lg font-bold">Gửi yêu cầu tới </span>
      </div>
      <div class="w-9 flex justify-content-end">
        <p-dropdown
          [(ngModel)]="selectedAdmin"
          [options]="admins"
          placeholder="Quản trị viên"
          optionLabel="username"
          [style]="{ height: '40px' }"
          scrollHeight="8rem"
          [filter]="true"
          filterBy="username"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <div>
      <span class="font-bold text-lg">Nội dung</span>
    </div>
    <div>
      <textarea
        #newQuestionContent
        [rows]="3"
        pInputTextarea
        style="width: 100%"
        (change)="changeTxtQuestionContent(newQuestionContent.value)"
        [value]="tmpSelectedQuestion?.content"
      ></textarea>
    </div>
    <div class="mb-2">
      <small *ngIf="invalidUpdatedQuestionContent" class="p-block p-error"
        >Vui lòng nhập nội dung câu hỏi</small
      >
    </div>
  </div>

  <div class="mb-2">
    <div>
      <span class="font-bold text-lg">Đáp án</span>
    </div>
    <div *ngFor="let answer of tmpSelectedQuestion?.answers">
      <div class="form-check mb-1" *ngIf="answer.isCorrect">
        <input
          name="answerCheck"
          class="form-check-input"
          type="radio"
          checked
          (change)="changeSelectedQuestionCorrectAnswer(answer)"
        />
        <input
          #newAnswer
          type="text"
          pInputText
          [value]="answer.description"
          style="width: 83%; height: 40px"
          (change)="changeTxtAnswer(answer, newAnswer.value)"
        />
        <span class="text-lg text-green-300 ml-1">(câu đúng) </span>
      </div>
      <div class="form-check mb-1" *ngIf="!answer.isCorrect">
        <input
          name="answerCheck"
          class="form-check-input"
          type="radio"
          (change)="changeSelectedQuestionCorrectAnswer(answer)"
        />
        <input
          #newAnswer
          type="text"
          pInputText
          [value]="answer.description"
          style="width: 83%; height: 40px"
          (change)="changeTxtAnswer(answer, newAnswer.value)"
        />
      </div>
    </div>
    <div class="mb-2">
      <small *ngIf="invalidUpdatedQuestionAnswer" class="p-block p-error"
        >Vui lòng nhập nội đáp án</small
      >
    </div>
  </div>

  <div class="mb-2">
    <div class="mb-1">
      <span class="font-bold text-lg">Hình ảnh đính kèm (nếu có)</span>
    </div>
    <div class="mb-1">
      <p-fileUpload
        #imageUploaded
        mode="basic"
        [customUpload]="true"
        [auto]="true"
        (uploadHandler)="updateImage($event, imageUploaded)"
        accept="image/*"
        [maxFileSize]="1000000"
        chooseLabel="Chọn hình"
        chooseIcon="pi pi-image"
        [style]="{ height: '40px' }"
      >
      </p-fileUpload>
    </div>

    <div class="text-center">
      <img
        *ngIf="tmpSelectedQuestion?.imageUrl"
        [src]="tmpSelectedQuestion?.imageUrl | safe: 'resourceUrl'"
        alt="Hình ảnh đính kèm"
        id="question-img"
        [style]="{ width: '20rem', height: 'auto' }"
      />
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Hủy"
      class="p-button-danger"
      style="height: 40px"
      (click)="resetDataUpdateQuestion()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Đồng ý"
      [disabled]="!isChanging"
      class="p-button-success"
      style="height: 40px"
      (click)="updateQuestion()"
    ></button>
  </ng-template>
</p-dialog>
<!-- End of update dialog -->

<!-- Confirm delete dialog -->
<p-dialog
  #updateDialog
  [(visible)]="displayDeleteDialog"
  [modal]="true"
  [style]="{ width: '35vw', height: '50vh' }"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span class="text-red-500 font-bold text-xl">Xóa</span>
  </ng-template>
  <div class="w-12 flex mb-5 align-items-center">
    <div class="w-3">
      <span class="text-lg font-bold">Gửi yêu cầu tới </span> <br />
    </div>
    <div class="w-9 flex justify-content-end">
      <p-dropdown
        [(ngModel)]="selectedAdmin"
        [options]="admins"
        optionLabel="username"
        [style]="{ height: '40px' }"
        scrollHeight="8rem"
        [filter]="true"
        filterBy="username"
      ></p-dropdown>
    </div>
  </div>
  <div class="w-12">
    <span class="text-lg"
      >Câu hỏi cùng các đáp án sẽ bị yêu cầu xóa. Bạn có chắc chắn?</span
    >
  </div>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Hủy"
      class="p-button-danger"
      style="height: 40px"
      (click)="displayDeleteDialog = false"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Đồng ý"
      class="p-button-success"
      style="height: 40px"
      (click)="deleteQuestion()"
    ></button>
  </ng-template>
</p-dialog>
<!-- End of confirm delete dialog -->

<p-toast key="createAddROMSuccess" life="1000"></p-toast>
<p-toast key="createAddROMError" life="1000"></p-toast>
<p-toast key="createUpdateROMSuccess" life="1000"></p-toast>
<p-toast key="createUpdateROMError" life="1000"></p-toast>
<p-toast key="createDeleteROMSuccess" life="1000"></p-toast>
<p-toast key="createDeleteROMError" life="1000"></p-toast>
