<div class="flex p-0" id="container">
  <div
    [ngClass]="{
      'w-12': selectedQuestion === undefined,
      'w-8': selectedQuestion
    }"
  >
    <div class="p-2 mb-1">
      <fa-icon class="fa-lg mr-2" [icon]="['far', 'circle-question']"></fa-icon>
      <span class="text-xl">Quản lý câu hỏi</span>
    </div>
    <div class="p-2">
      <div class="flex mb-3">
        <div class="w-6">
          <div>
            <span class="p-input-icon-right mr-3">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                placeholder="Tìm kiếm..."
                id="input-search"
                [(ngModel)]="searchStr"
                (keyup)="filterData()"
              />
            </span>
            <p-dropdown
              [(ngModel)]="filterTestCategory"
              [options]="testCategories"
              placeholder="Loại bằng"
              optionLabel="name"
              [showClear]="true"
              [style]="{ height: '40px' }"
              (onChange)="changeCategory()"
            ></p-dropdown>
          </div>
        </div>
        <div class="w-6 text-right">
          <button
            pButton
            pRipple
            type="button"
            label="Tạo mới"
            class="p-button-raised p-button-success"
            [style]="{ height: '40px' }"
            (click)="displayCreateDialog = true"
          ></button>
        </div>
      </div>

      <p-table
        [value]="questions"
        [paginator]="true"
        [rows]="9"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
        currentPageReportTemplate="{first} đến {last} trong tổng số {totalRecords} mục"
        styleClass="p-datatable-gridlines p-datatable-sm"
      >
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{ width: '10%', 'text-align': 'center' }">Tên</th>
            <th [ngStyle]="{ width: '70%', 'text-align': 'center' }">
              Nội dung
            </th>
            <th [ngStyle]="{ width: '10%', 'text-align': 'center' }">
              Loại bằng
            </th>
            <th [ngStyle]="{ width: '10%', 'text-align': 'center' }">
              Chi tiết
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question let-i="rowIndex">
          <tr>
            <td [ngStyle]="{ 'text-align': 'center' }">
              {{ question.name }}
            </td>
            <td>
              <div
                [ngClass]="{
                  'txt-content-sm': selectedQuestion,
                  'txt-content': selectedQuestion === undefined
                }"
              >
                {{ question.content }}
              </div>
            </td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              {{ question.testCategory?.name }}
            </td>
            <td [ngStyle]="{ 'text-align': 'center' }">
              <button
                pButton
                type="button"
                icon="pi pi-info"
                class="p-button-rounded p-button-outlined btn-info"
                (click)="viewInfo(question)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div
    id="question-info"
    class="p-2"
    [ngClass]="{
      hide: selectedQuestion === undefined,
      show: selectedQuestion
    }"
  >
    <button (click)="closeInfo()" id="btn-closeInfo">
      <i class="pi pi-times text-red-600"></i>
    </button>

    <div id="right">
      <div class="flex align-items-center" id="right-header">
        <i class="pi pi-info-circle text-xl"></i>
        <span class="text-xl ml-2">Chi tiết</span>
        <span class="text-lg font-bold ml-4">
          {{ selectedQuestion?.name }} ({{ selectedQuestion?.testCategory?.name }})</span
        >
      </div>

      <div
        id="right-question-content"
        class="overflow-y-auto overflow-x-hidden"
      >
        <div>
          <span class="font-bold text-lg">Nội dung</span>
        </div>
        <div id="question-content">
          {{ selectedQuestion?.content }}
        </div>
      </div>

      <div id="right-answers" class="overflow-y-auto overflow-x-hidden">
        <div *ngFor="let answer of selectedQuestion?.answers; let i = index">
          <div *ngIf="i === 0" class="mb-2">
            <span [ngClass]="{ 'text-green-500': answer.isCorrect }">
              A. {{ answer.description }}</span
            >
          </div>
          <div *ngIf="i === 1" class="mb-2">
            <span [ngClass]="{ 'text-green-500': answer.isCorrect }">
              B. {{ answer.description }}</span
            >
          </div>
          <div *ngIf="i === 2" class="mb-2">
            <span [ngClass]="{ 'text-green-500': answer.isCorrect }">
              C. {{ answer.description }}</span
            >
          </div>
          <div *ngIf="i === 3" class="mb-2">
            <span [ngClass]="{ 'text-green-500': answer.isCorrect }">
              D. {{ answer.description }}</span
            >
          </div>
        </div>
      </div>

      <div id="right-question-img">
        <div class="mb-1" style="height: 10%">
          <span class="font-bold text-lg">Hình ảnh đính kèm (nếu có)</span>
        </div>
        <div class="text-center" style="height: 90%">
          <img
            *ngIf="selectedQuestion?.imageUrl"
            [src]="selectedQuestion?.imageUrl"
            alt="Hình ảnh đính kèm"
            id="question-img"
          />
        </div>
      </div>

      <div id="right-actions" class="flex">
        <div class="w-6 text-center">
          <button
            pButton
            pRipple
            type="button"
            label="Chỉnh sửa"
            class="p-button-raised p-button-help"
            (click)="displayUpdateDialog = true"
          ></button>
        </div>
        <div class="w-6 text-center">
          <button
            pButton
            pRipple
            type="button"
            label="Xóa"
            class="p-button-raised p-button-danger"
            (click)="displayDeleteDialog = true"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create dialog -->
<p-dialog
  #createDialog
  [(visible)]="displayCreateDialog"
  [style]="{ width: '45vw' }"
  (onHide)="resetDataCreateQuestion()"
>
  <ng-template pTemplate="header">
    <span class="text-green-500 font-bold text-xl">Tạo mới</span>
  </ng-template>

  <div class="mb-2">
    <div class="flex justify-content-center align-items-center">
      <div class="w-3">
        <span class="text-lg font-bold">Gửi yêu cầu tới </span> <br />
      </div>
      <div class="w-9">
        <p-dropdown
          [(ngModel)]="selectedAdmin"
          [options]="admins"
          placeholder="Quản trị viên"
          optionLabel="username"
          [style]="{ height: '40px' }"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <div class="flex justify-content-center align-items-center">
      <div class="w-3">
        <span class="text-lg font-bold mr-2">Loại bằng </span>
      </div>
      <div class="w-9">
        <p-dropdown
          [(ngModel)]="selectedTestCategory"
          [options]="loadedTestCategories"
          placeholder="Loại bằng"
          optionLabel="name"
          [style]="{ height: '40px' }"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <div class="flex align-items-center justify-content-center">
      <span class="text-lg font-bold mr-2">Câu số </span>
      <p-inputNumber
        inputId="integeronly"
        inputId="minmax"
        [min]="1"
        [(ngModel)]="newQuestionName"
        [inputStyle]="{ width: '5rem', height: '40px' }"
        (onInput)="checkNewQuestionName($event)"
      >
      </p-inputNumber>
    </div>
    <div class="flex align-items-center justify-content-center">
      <small class="p-error block ml-5" *ngIf="!isValidNewQuestionName"
        >Câu số {{ newQuestionName }} đã tồn tại</small
      >
    </div>
  </div>

  <div class="mb-2">
    <div>
      <span class="font-bold text-lg">Nội dung</span>
    </div>
    <div>
      <textarea
        [rows]="3"
        pInputTextarea
        style="width: 100%"
        placeholder="Nội dung câu hỏi"
        (change)="getNewQuestionContent($event)"
      ></textarea>
    </div>
  </div>

  <div class="mb-2">
    <div>
      <span class="font-bold text-lg">Đáp án</span>
    </div>
    <div class="p-inputgroup mb-2">
      <input
        type="text"
        pInputText
        placeholder="Nội dung đáp án"
        [(ngModel)]="newQuestionAnswer"
      />
      <button
        type="button"
        pButton
        class="p-button-success"
        icon="pi pi-plus"
        [disabled]="newQuestionAnswer === undefined || newQuestionAnswer === ''"
        (click)="addNewQuestionAnswer()"
      ></button>
    </div>
    <div
      *ngFor="let answer of newQuestionAnswers; let i = index"
      class="flex justify-content-center align-items-center"
    >
      <div class="w-10">
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <div style="width: 5%">
            <input
              name="answerCheck"
              type="radio"
              (change)="pickNewAnswersCorrectAnswer(i)"
            />
          </div>
          <div style="width: 80%; overflow-x: auto; overflow-y: hidden">
            <div
              *ngIf="
                !isEditingNewQuestionAnswer ||
                (isEditingNewQuestionAnswer &&
                  i !== editingNewQuestionAnswerIndex)
              "
            >
              <span> {{ answer.description }} </span>
            </div>

            <div
              class="w-full"
              *ngIf="
                isEditingNewQuestionAnswer &&
                i === editingNewQuestionAnswerIndex
              "
            >
              <input
                class="w-full"
                *ngIf="
                  isEditingNewQuestionAnswer &&
                  i === editingNewQuestionAnswerIndex
                "
                type="text"
                pInputText
                [(ngModel)]="txtEditNewQuestionAnswer"
                [value]="answer.description"
                [style]="{ height: '40px' }"
              />
            </div>
          </div>
          <div style="width: 15%">
            <span *ngIf="answer.isCorrect" class="text-lg text-green-300 ml-1"
              >(câu đúng)
            </span>
          </div>
        </div>
      </div>
      <div class="w-2">
        <div
          *ngIf="
            !isEditingNewQuestionAnswer ||
            (isEditingNewQuestionAnswer && i !== editingNewQuestionAnswerIndex)
          "
        >
          <button
            pButton
            type="button"
            icon="pi pi-file-edit"
            class="p-button-rounded p-button-help p-button-text mr-2"
            (click)="enableEditNewQuestionAnswer(answer, i)"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="deleteNewQuestionAnswer(i)"
          ></button>
        </div>

        <div
          *ngIf="
            isEditingNewQuestionAnswer && i === editingNewQuestionAnswerIndex
          "
        >
          <button
            pButton
            type="button"
            icon="pi pi-save"
            class="p-button-rounded p-button-success p-button-text mr-2"
            (click)="saveEditNewQuestionAnswer(i)"
            [disabled]="txtEditNewQuestionAnswer === ''"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-danger p-button-text"
            (click)="disableEditNewQuestionAnswer()"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <div class="mb-1">
      <span class="font-bold text-lg">Hình ảnh đính kèm (nếu có)</span>
    </div>
    <div class="mb-1">
      <p-fileUpload
        #newQuestionImageUploaded
        mode="basic"
        [customUpload]="true"
        [auto]="true"
        (uploadHandler)="addNewQuestionImage($event, newQuestionImageUploaded)"
        accept="image/*"
        [maxFileSize]="1000000"
        chooseLabel="Chọn hình"
        chooseIcon="pi pi-image"
        [style]="{ height: '40px' }"
      >
      </p-fileUpload>
    </div>

    <div class="text-center">
      <img
        *ngIf="newQuestionImgUrl !== ''"
        [src]="newQuestionImgUrl"
        alt="Hình ảnh đính kèm"
        [style]="{ width: '30rem', height: '30rem' }"
      />
    </div>
  </div>

  <!-- <div style="height: 100%;">
    <pre style="height: fit-content" class="text-base text-orange-300 font-bold"> {{ inValidMsg }}</pre>
  </div> -->

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Hủy"
      class="p-button-danger"
      style="height: 40px"
      (click)="resetDataCreateQuestion()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Đồng ý"
      [disabled]="!isValidNewQuestion"
      class="p-button-success"
      style="height: 40px"
      (click)="createQuestion()"
    ></button>
  </ng-template>
</p-dialog>
<!-- End of create dialog -->

<!-- Update dialog -->
<p-dialog
  #updateDialog
  [(visible)]="displayUpdateDialog"
  [style]="{ width: '40vw' }"
  (onHide)="resetDataUpdateQuestion()"
>
  <ng-template pTemplate="header">
    <span class="text-purple-500 font-bold text-xl"> Chỉnh sửa</span>
  </ng-template>
  <div class="w-full text-center mb-2">
    <span class="text-xl font-bold ml-4"> {{ tmpSelectedQuestion?.name }} ({{ selectedQuestion?.testCategory?.name }})</span>
  </div>

  <div class="mb-2">
    <div class="flex justify-content-center align-items-center">
      <div class="w-3">
        <span class="text-lg font-bold">Gửi yêu cầu tới </span>
      </div>
      <div class="w-9">
        <p-dropdown
          [(ngModel)]="selectedAdmin"
          [options]="admins"
          placeholder="Quản trị viên"
          optionLabel="username"
          [style]="{ height: '40px' }"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <div class="mb-2">
    <div>
      <span class="font-bold text-lg">Nội dung</span>
    </div>
    <div>
      <textarea
        #newQuestionContent
        [rows]="3"
        pInputTextarea
        style="width: 100%"
        (change)="changeTxtQuestionContent(newQuestionContent.value)"
        [value]="tmpSelectedQuestion?.content"
      ></textarea>
    </div>
  </div>

  <div class="mb-2">
    <div>
      <span class="font-bold text-lg">Đáp án</span>
    </div>
    <div *ngFor="let answer of tmpSelectedQuestion?.answers">
      <div class="form-check mb-1" *ngIf="answer.isCorrect">
        <input
          name="answerCheck"
          class="form-check-input"
          type="radio"
          checked
          (change)="changeSelectedQuestionCorrectAnswer(answer)"
        />
        <input
          #newAnswer
          type="text"
          pInputText
          [value]="answer.description"
          style="width: 83%; height: 40px"
          (change)="changeTxtAnswer(answer, newAnswer.value)"
        />
        <span class="text-lg text-green-300 ml-1">(câu đúng) </span>
      </div>
      <div class="form-check mb-1" *ngIf="!answer.isCorrect">
        <input
          name="answerCheck"
          class="form-check-input"
          type="radio"
          (change)="changeSelectedQuestionCorrectAnswer(answer)"
        />
        <input
          #newAnswer
          type="text"
          pInputText
          [value]="answer.description"
          style="width: 83%; height: 40px"
          (change)="changeTxtAnswer(answer, newAnswer.value)"
        />
      </div>
    </div>
  </div>

  <div class="mb-2">
    <div class="mb-1">
      <span class="font-bold text-lg">Hình ảnh đính kèm (nếu có)</span>
    </div>
    <div class="mb-1">
      <p-fileUpload
        #imageUploaded
        mode="basic"
        [customUpload]="true"
        [auto]="true"
        (uploadHandler)="updateImage($event, imageUploaded)"
        accept="image/*"
        [maxFileSize]="1000000"
        chooseLabel="Chọn hình"
        chooseIcon="pi pi-image"
        [style]="{ height: '40px' }"
      >
      </p-fileUpload>
    </div>

    <div class="text-center">
      <img
        *ngIf="tmpSelectedQuestion?.imageUrl"
        [src]="tmpSelectedQuestion?.imageUrl"
        alt="Hình ảnh đính kèm"
        id="question-img"
        [style]="{ width: '30rem', height: '30rem' }"
      />
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Hủy"
      class="p-button-danger"
      style="height: 40px"
      (click)="resetDataUpdateQuestion()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Đồng ý"
      [disabled]="!isChanging"
      class="p-button-success"
      style="height: 40px"
      (click)="updateQuestion()"
    ></button>
  </ng-template>
</p-dialog>
<!-- End of update dialog -->

<!-- Confirm delete dialog -->
<p-dialog
  #updateDialog
  [(visible)]="displayDeleteDialog"
  [style]="{ width: '35vw', height: '40vh' }"
>
  <ng-template pTemplate="header">
    <span class="text-red-500 font-bold text-xl">Xóa</span>
  </ng-template>
  <div class="mb-4">
    <div class="flex justify-content-center align-items-center">
      <div class="w-3">
        <span class="text-lg font-bold">Gửi yêu cầu tới </span> <br />
      </div>
      <div class="w-9">
        <p-dropdown
          [(ngModel)]="selectedAdmin"
          [options]="admins"
          optionLabel="username"
          [style]="{ height: '40px' }"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="w-full text-center">
    <span class="text-lg font-bold ml-4">
      {{ tmpSelectedQuestion?.name }}
    </span>
    <span class="text-lg">cùng các đáp án sẽ bị yêu cầu xóa. Bạn có chắc chắn?</span>
  </div>

  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Hủy"
      class="p-button-danger"
      style="height: 40px"
      (click)="displayDeleteDialog = false"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Đồng ý"
      class="p-button-success"
      style="height: 40px"
      (click)="deleteQuestion()"
    ></button>
  </ng-template>
</p-dialog>
<!-- End of confirm delete dialog -->

<p-toast key="createAddROMSuccess" life="1000"></p-toast>
<p-toast key="createUpdateROMSuccess" life="1000"></p-toast>
<p-toast key="createDeleteROMSuccess" life="1000"></p-toast>
