.table-p-password ::ng-deep .p-password input {
  border: none;
  font-size: 1em;
  font-family: 'Jaldi';
  padding: 0;
  margin: 0;
  text-align: center;
}

::ng-deep .p-dropdown .p-placeholder {
  /* font-size: .9rem; */
  padding-top: .4rem;
}

::ng-deep .p-dropdown .p-element {
  /* font-size: .9rem; */
  padding-top: .4rem;
}

::ng-deep .p-datepicker-buttonbar button {
  color: red;
}

::ng-deep .p-button-outlined:disabled{
  color: grey;
}

::ng-deep .p-button-success:disabled{
  background-color: grey;
}

/* for filtering input of dropdown */
::ng-deep .p-dropdown-panel .p-dropdown-header {
  padding: .5rem;
}

::ng-deep .p-dropdown-panel .p-dropdown-header .p-dropdown-filter-container .p-inputtext {
  height: 35px;
}
/* end of for filtering input of dropdown */

/* start of info of pending requests of admin */
.dropdown-admins ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
  padding: 0;
}

::ng-deep .p-tooltip-left .p-tooltip-text{
  height: 3rem;
  width: 12rem;
}
/* end of info of pending requests of admin */

.new-scribe-pwd ::ng-deep .p-inputtext.p-component.p-element.p-password-input
    {
  width: 100%;
}

.new-scribe-pwd ::ng-deep .p-password.p-component.p-inputwrapper.p-input-icon-right{
  width: 100%;
}
