@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");
@import  "~primeicons/primeicons.css";

html, 
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i){
    font-family: "Jaldi"; /* Replacable */
}