<div class="layout-header w-full h-5rem flex justify-content-between">
  <div class="w-3 flex justify-content-start align-items-center pl-3">
    <img
      src="../../../../assets/images/logo-noname.png"
      alt="logo"
      [style]="{ width: '4rem', height: '4rem' }"
    />
    <span class="text-blue-400 text-xl font-bold ml-3"
      >Từ điển luật giao thông Việt Nam</span
    >
  </div>

  <div
    class="layout-topbar-menu w-9 flex justify-content-end align-items-center pr-5"
  >
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-book"
      [label]="originDecree?.decreeName"
      [style]="{
        height: '30px'
      }"
      class="p-button-rounded p-button-outlined mr-2"
      (click)="openOriginDecree()"
      [pTooltip]="originDecreeTooltip"
      tooltipPosition="bottom"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-book"
      [label]="changeDecree?.decreeName"
      [style]="{ height: '30px' }"
      class="p-button-rounded p-button-outlined mr-3"
      [pTooltip]="changeDecree?.decreeName"
      tooltipPosition="bottom"
      (click)="openChangeDecree()"
    ></button>

    <!-- <div class="overflow-hidden" style="width: 5rem;">
    <a href="#" (click)="openOriginDecree()"  class="mr-2 text-overflow-ellipsis">{{originDecree?.decreeName}}</a>

    </div>
    <a href="#" (click)="openChangeDecree()">{{changeDecree?.decreeName}}</a> -->

    <span class="text-lg mr-3 p-2 border-300 border-2 border-round-lg"
      >Tài khoản: <span class="font-bold">{{ account?.username }}</span></span
    >
    <app-notification-centre></app-notification-centre>
    <button
      pButton
      pRipple
      type="button"
      label="Đăng xuất"
      class="p-button-raised p-button-danger"
      (click)="logOut()"
    >
      <i class="pi pi-sign-out mr-2"></i>
    </button>
  </div>
</div>
