<div class="layout-header w-full h-5rem flex justify-content-between">
  <div class="w-1 flex justify-content-center align-items-center pl-3">
    <img src="../../../../assets/images/logo-noname.png" alt="logo" id="logo" />
  </div>

  <div
    class="layout-topbar-menu w-10 flex justify-content-end align-items-center pr-5"
  >
    <button class="p-link mr-5 header-btn">
      <i class="pi pi-bell" pBadge value="2"></i>
    </button>

    <button
      pButton
      pRipple
      type="button"
      label="Đăng xuất"
      class="p-button-raised p-button-danger"
      (click)="logOut()"
    >
      <i class="pi pi-sign-out mr-2"></i>
    </button>
  </div>
</div>
