.layout-header {
    height: 5rem;
    left: 0px;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 4px;
}

::ng-deep .decree-btn .p-button-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
    width: 10rem;
}